body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	margin: 0px;
}

#main-menu {
	position: absolute;
	left: 0px;
	right: 0px;
	width: 100%;
	top: 0px;
	height: 50px;
	background-color: #09f;
}

#main-menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#main-menu ul li {
	display: block;
	float: left;
	height: 18px;
	padding: 16px 13px;
	border-right: 1px solid #000;
}

#main-menu ul li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#main-content {
	position: absolute;
	top: 52px;
	bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	overflow: auto;
}

#panes-left {
	position: absolute;
	left: 0px;
	top: 50px;
	width: 180px;
	border-right: 1px solid #02a;
}

#panes-right {
	position: absolute;
	right: 0px;
	top: 50px;
	width: 180px;
	border-left: 1px solid #02a;
}

#panes-bottom {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 135px;
	width: 100%;
	/*overflow: auto;*/
	background-color: #fff;
}

#panes-left, #panes-right {
	bottom: 135px;
}

.panes {
	background-color: #fff;
}

.panes .pane {
	width: 100%;
	border-bottom: 1px solid #02a;
}

.panes .pane div.content {
	width: 180px;
	overflow: auto;
}

#panes-bottom .pane div.content {
	overflow: auto;
	width: auto;
	height: 135px;
}

#panes-bottom .pane {
	height: 100%;
	border: 0;
}

.pane h1 {
	margin: 0px;
	background-color: #00a;
	color: #fff;
	font-size: 11px;
	font-weight: normal;
}

.panes .pane ul.tabs {
	margin: 0px;
	padding: 0px;
	background-color: #d4d0c8;
	height: 16px;
}

.panes .pane ul.tabs li {
	display: inline;
	border-right: 1px solid #a4a098;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #d4d0c8;
	cursor: pointer;
}

.panes .pane ul.tabs li a {
	color: #000;
	text-decoration: none;
}

.panes .pane ul.tabs li.active {
	background-color: #e4e0d8;
}

div.preview {
	margin: 5px;
	padding: 5px;
	border: 1px dashed #09f;
}

ul.toolbar {
	list-style-type: none;
	background-color: #e4e0d8;
	margin: 0px;
	padding: 0px;
	height: 25px;
}

ul.toolbar li a {
	float: left;
	margin: 2px;
	margin-bottom: 1px;
	width: 22px;
	height: 22px;
	cursor: pointer;
	display: block;
}

ul.submenu 
{
	clear: both;
	background-color: #e4e0d8;
	border: 1px solid #d4d0c8;
	border-top: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: none;
}

ul.submenu li 
{
	display: block;
	width: auto;
	height: auto;
}

ul.submenu li a 
{
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: auto;
	height: auto;
}

ul.toolbar li span {
	display: none;
}

ul.submenu li span 
{
	display: block;
	font-size: 90%;
}

.modules 
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 400px;
}

.modules > li 
{
	border: 1px solid #ccc;
	background-color: #eee;
	margin-bottom: 5px;
	clear: both;
	min-height: 21px;
}

.modules li a 
{
	color: #000;
	font-size: 120%;
	text-decoration: none;
	margin-top: 1px;
	float: left;
}

.modules li div.modform 
{
	position: relative;
	top: 0px;
	background-color: #fff;
	border-top: 1px solid #06f;
	clear: both;
}

/* leave this here for now */

.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview div.hitarea {
	height: 15px;
	width: 15px;
	margin-left: -15px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html div.hitarea {
	background: #fff;
	filter: alpha(opacity=0);
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #ddd;
}

#treecontrol { margin: 1em 0; }

.treeview .hover { color: red; cursor: pointer; }
	
.treeview li { background: url(images/tv-item.gif) 0 0 no-repeat; }
.treeview .collapsable { background-image: url(images/tv-collapsable.gif); }
.treeview .expandable { background-image: url(images/tv-expandable.gif); }
.treeview .last { background-image: url(images/tv-item-last.gif); }
.treeview .lastCollapsable { background-image: url(images/tv-collapsable-last.gif); }
.treeview .lastExpandable { background-image: url(images/tv-expandable-last.gif); }

.treeview {
	margin-top: 15px;
	margin-left: 10px;
}
	
.treeview a, .types a { padding-left: 19px !important; display: inline-block !important; height: 20px; text-decoration: none; color: #0066ff; }
.treeview a:visited { color: #0066ff; }
.treeview .selected > a {
	text-decoration: underline;
	background-color: #eee;
}

.treeview a.history, .types a.history { background-image: url(images/history.png); background-repeat: no-repeat; }

.modules li a.delete-module {
	font-size: 100%;
	float: right;
	margin-right: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 22px;
	height: 22px;
	cursor: pointer;
	display: inline;
	background-image: url(images/icons/remove.png);
}

a.delete {
	display: block;
	color: red;
	font-weight: bold;
	margin-top: 12px;
}
